<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


<%- include ('header.ejs') %>
<div style="width: 100%; position: relative;">
    <img src="https://cdn.wallpapersafari.com/86/76/rmJdBW.jpg" style="height: auto; width: 100%;position: relative;">
</div>
<!-- <div id="aboutUs">
    <h2>What do we do?</h2>
    <p>
        Earlier this year, we launched newsletters for publications on Medium: a new way to build relationships and share stories with readers. We recently announced some important updates to newsletters — including an enhanced editor and email scheduling — and continue to improve them based on user feedback. One of the latest improvements is the newsletter mailing list.Your Medium profile is where readers get to know more about you, to see the face behind the name, the mind behind the words. For writers, it’s a place to showcase ideas for the millions of curious eyes and hungry minds that flock to Medium each day. Your profile should be every bit as distinct as the stories you publish in it. But it isn’t. Today, we take the first step towards changing that.
        <br>With an exported mailing list, newsletter editors can keep the loyal following they’ve built on Medium and engage with readers on and off the platform. Creators have full agency over their newsletter audience and the value that they can deliver to readers’ inboxes.
    </p>
</div> -->
<div class="row blockSlideshow" id="blogs">
    <h2>
        Our Blogs
    </h2>
    <%  for(var i = 0; i < blogs.length; i++) { %>
    <div class="col-3 col-s-6 item" onclick="location.href='/blogs/<%= blogs[i]._id %>';">
        <img src="<%= blogs[i].ImgLink %>" alt="<%=blogs[i].ImgAltText %>">
        <div style="padding: 10px;">
            <h3><b><%= blogs[i].Heading %></b></h3>
            <p><%= blogs[i].Description %></p>
        </div>
    </div>
    <% } %>
    <div class="prev" onclick="changeSlide(-1)">&#8592</div>
    <div class="next" onclick="changeSlide(1)">&#8594</div>
</div>

<div class="row blockSlideshow">
    <h2>
        What people say
    </h2>
    
    <%  for(var i = 0; i < reviews.length; i++) { %>
    <div class="reviewItem">
        <div class="row reviewBlock">
            <div class="col-3" style="text-align: center;">
                <img src="<%= reviews[i].ImgLink %>" alt="Client Profile Pics">
            </div>
            <div class="col-9" style="padding: 10px;">
                <p><q><%= reviews[i].Review %></q></p>
                <br>
                <span><%= reviews[i].Name %></span>
            </div>
        </div>
    </div>
    <% } %>
    <!-- <div class="prev" onclick="changeSlide(-1)">&#8592</div>
    <div class="next" onclick="changeSlide(1)">&#8594</div> -->
</div>

<script>
    var slideIndex = 1;
    var slides = document.getElementsByClassName("item");
    var noitems = 4;
    var sw = screen.width;
    if(sw < 768){
        noitems = 2; 
        if(sw < 600){
            noitems = 1;
        }
    }
    showSlides(slideIndex);

    function changeSlide(n) {
        var x = slideIndex + n;
        if(x + noitems - 1 <= slides.length && x > 0){
            slideIndex +=n;
            showSlides(slideIndex);
        }
    return;
    }

    function showSlides(n) {
        var i;
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = slideIndex-1; i < noitems + slideIndex -1 && i<slides.length; i++) {
            console.log(slideIndex +"    "+slides.length);
            slides[i].style.display = "block";
        } 
    return;
    }

    var reviewIndex = 0;
    showReview();

    function showReview() {
    var i;
    var reviews = document.getElementsByClassName("reviewItem");
    for (i = 0; i < reviews.length; i++) {
        reviews[i].style.display = "none";  
    }
    reviewIndex++;
    if (reviewIndex > reviews.length) {reviewIndex = 1} 
    reviews[reviewIndex-1].style.display = "block";  
    setTimeout(showReview, 2000); // Change image every 2 seconds
    }



</script>

<%- include ('footer.ejs') %>